@font-face {
    font-family: calculatorFont;
    src: url(./fonts/digital-7-font/Digital7Mono-B1g5.ttf)
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    display: flex;
    height: 350px;
    width: 250px;
    flex-direction: column;
    border-style: solid;
    align-items: center;
    padding: 5px;
}

.display-screen {
    font-family: "calculatorFont";
    direction: rtl;
    align-self: stretch;
    height: 65px;
    line-height: 65px;
    font-size: x-large;
}



.button-row{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 5px;
    gap: 5px;
}

.button-row > button {
    background-color: grey;
    color: white;
    flex-grow: 1;
    justify-items: stretch;
    align-self: stretch;
    border-radius: 3px;
}